<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
   <typeAliases>
      <typeAlias type="net.daum.vo.MemberVO" alias="member" />
      <typeAlias type="net.daum.vo.QnaVO" alias="qna"/>
      <typeAlias type="net.daum.vo.ReviewVO" alias="review"/>
      <typeAlias type="net.daum.vo.ItemInfoVO" alias="item"/>
      <typeAlias type="net.daum.vo.WishVO" alias="wish"/>
      <typeAlias type="net.daum.vo.CartVO" alias="cart"/>
      <typeAlias type="net.daum.vo.OrderVO" alias="order"/>
      <typeAlias type="net.daum.vo.ToAddressVO" alias="address"/>
   </typeAliases>
</configuration>